<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="codecracker.CSharp" version="1.0.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0-beta3" targetFramework="net452" />
  <package id="KRPC.Client" version="0.3.4-pre" targetFramework="net452" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.1.0" targetFramework="net452" />
  <package id="RhinoMocks" version="4.0.0-alpha3" targetFramework="net452" />
</packages>